@font-face {
	font-display: block;
	font-family: "id-layout-icomoon";
	font-style: normal;
	font-weight: normal;
	src: url("./icon-fonts/icomoon.eot?o0athh");
	src:
		url("./icon-fonts/icomoon.eot?o0athh#iefix") format("embedded-opentype"),
		url("./icon-fonts/icomoon.ttf?o0athh") format("truetype"),
		url("./icon-fonts/icomoon.woff?o0athh") format("woff"),
		url("./icon-fonts/icomoon.svg?o0athh#icomoon") format("svg");
}

[class^="id-layout-icon-"],
[class*=" id-layout-icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "id-layout-icomoon" !important;
	font-size: 24px;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	text-transform: none;
}

[class^="id-layout-icon-"]::before,
[class*=" id-layout-icon-"]::before {
	color: #222;
	font-size: 1em;
}
