.clik-id__block {
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
}

.clik-id__content {
	align-content: flex-start;
	box-sizing: border-box;
	flex: 1 1 auto;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
}

.clik-id__content:not(.clik-id__content--scrollbar)::-webkit-scrollbar {
	display: none;
}

.clik-id__slider .clik-id__content {
	display: grid;
	gap: 4px;
	grid-template-columns: repeat(2, 1fr);
	padding: 12px 0 0;
}
