.clik-id__image {
	height: fit-content;
	position: relative;
	width: fit-content;
}

.clik-id__image .ant-image {
	height: 100%;
	width: 100%;
}

.clik-id__image .ant-image .ant-image-img {
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.clik-id__image .ant-empty {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}
