:root {
	--slider-right--width: 272px;
	--slider-left--width: 224px;
	--animation-duration: 0.3s;
}

.clik-id__slider {
	bottom: 0;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: absolute;
	top: var(--layout-level-header--height);
	transition: transform var(--animation-duration) ease-in-out;
	z-index: 1;
}

.clik-id__slider.clik-id__slider--left {
	left: var(--layout-level-menu-left--width);
	transform: translateX(-100%);
	width: var(--slider-left--width);
}

.clik-id__slider.clik-id__slider--left.clik-id__slider--shown {
	transform: translateX(0px);
}

.clik-id__slider.clik-id__slider--right {
	right: 0;
	transform: translateX(100%);
	width: var(--slider-right--width);
}

.clik-id__slider.clik-id__slider--right.clik-id__slider--shown {
	transform: translateX(0px);
}
